<h2>Dashboard</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue volutpat lorem interdum vehicula. Nunc sollicitudin est risus, et adipiscing erat mollis vitae. Pellentesque nec dolor urna. Maecenas vestibulum lacus nulla, a iaculis augue suscipit at. Vestibulum quis tortor pretium eros molestie aliquam. Maecenas eu lacus ante. Duis tortor diam, pellentesque ac enim vel, accumsan vehicula turpis. Sed imperdiet in ligula at pretium. Aliquam consectetur nibh urna, rhoncus vulputate nisl tristique suscipit. Cras mollis, dui at malesuada vulputate, sem diam mollis erat, nec vulputate purus erat a justo. Curabitur convallis posuere nisi, ut varius turpis volutpat a. Fusce nec tempor est, et pretium nibh.
</p>
<p>
Vivamus semper dignissim est ac fermentum. Pellentesque non est sollicitudin, pharetra libero a, tincidunt arcu. In laoreet leo eget erat tincidunt pellentesque. Maecenas molestie ultricies orci, at venenatis orci tincidunt condimentum. In tempor enim quis posuere pellentesque. Etiam venenatis posuere nisl ac bibendum. Vivamus elementum, sem tincidunt pharetra tristique, metus turpis bibendum diam, et rutrum orci metus non neque. Aliquam erat volutpat. Cras ultrices faucibus justo, id tincidunt ante ultrices id. Fusce et lacinia lacus. Sed et velit turpis. Phasellus sollicitudin consequat nibh vel varius.
</p>
<p>
Cras magna libero, blandit at ullamcorper eu, luctus quis risus. Vivamus in sapien dapibus, adipiscing dolor et, laoreet tellus. Cras quis sollicitudin metus, ut euismod erat. Quisque quis posuere metus. Aenean placerat ligula ut luctus aliquet. Pellentesque quis vulputate justo. Pellentesque pellentesque dignissim nisl sit amet feugiat. Fusce sollicitudin dui tortor, vel interdum diam iaculis ac.
</p>

<div>
<button class="btn btn-success" ng-click="fetchData()">Fetch data</button>
<tpl-my-data></tpl-my-data>
</div>